.button {
  cursor: pointer;

  @include padding-vertical('sm-1');
  border: none;
  @include space('border-radius', 'sm-1');

  /** SIZES **/
  &.small {
    @include padding-horizontal('md-1');
    @include height('md-3');
  }

  &.medium {
    @include padding-horizontal('md-2');
    @include height('md-4');
  }

  &.large {
    @include padding-horizontal('md-3');
    @include height('lg-1');
  }

  /** TYPES **/
  &.primary {
    background-color: $btn-primary-bg-color;
    color: $main-btn-text-color;

    &:hover {
      background-color: $btn-primary-bg-hover-color;
    }

    &.link {
      &:hover {
        background-color: $btn-primary-bg-color;
        text-decoration: underline;
      }
    }
  }

  &.secondary {
    background-color: $btn-secondary-bg-color;
    color: $main-btn-text-color;

    &:hover {
      background-color: $btn-secondary-bg-hover-color;
    }

    &.link {
      &:hover {
        background-color: $btn-secondary-bg-color;
        text-decoration: underline;
      }
    }
  }

  &.tertiary {
    background-color: $btn-tertiary-bg-color;
    color: $main-btn-text-color;

    &:hover {
      background-color: $btn-tertiary-bg-hover-color;
    }

    &.link {
      &:hover {
        background-color: $btn-tertiary-bg-color;
        text-decoration: underline;
      }
    }
  }

  &.danger {
    background-color: $btn-danger-bg-color;
    color: $main-btn-text-color;

    &:hover {
      background-color: $btn-danger-bg-hover-color;
    }

    &.link {
      &:hover {
        background-color: $btn-danger-bg-color;
        text-decoration: underline;
      }
    }
  }

  &.no-bg {
    background-color: transparent;
    color: $btn-no-bg-text-color;

    &:hover {
      opacity: 0.7;
    }

    &.link {
      &:hover {
        opacity: 1;
        text-decoration: underline;
      }
    }
  }

  /** WITH ICON **/
  &.with-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    @include space('gap', 'base');
  }
}

/** ICON COLORS **/
.button-with-bg-icon {
  // All icons that are in BUTTON_ICONS uses path.stroke and text.fill
  path {
    stroke: $main-btn-text-color;
  }

  text {
    fill: $main-btn-text-color;
  }
}

.button-no-bg-icon {
  // All icons that are in BUTTON_ICONS uses path.stroke and text.fill
  path {
    stroke: $btn-no-bg-text-color;
  }

  text {
    fill: $btn-no-bg-text-color;
  }
}

/** ICON POS **/
.left-icon {
  order: 0;
}

.right-icon {
  order: 1;
}
