/*=============================================
                   #BASE
=============================================*/

/*=============================================
=                   Root                      =
=============================================*/
:root {
  // Colors
  --pfa-main-btn-text-color: #{$gray};
  --pfa-btn-with-icon-text-color: #{$white};
  --pfa-btn-no-bg-text-color: #{$navy-blue-lighter};

  --pfa-btn-primary-bg-color: #{$purple};
  --pfa-btn-primary-bg-hover-color: #{$purple-light};

  --pfa-btn-secondary-bg-color: #{$blue};
  --pfa-btn-secondary-bg-hover-color: #{$blue-light};

  --pfa-btn-tertiary-bg-color: #{$navy-blue};
  --pfa-btn-tertiary-bg-hover-color: #{$navy-blue-light};

  --pfa-btn-danger-bg-color: #{$red};
  --pfa-btn-danger-bg-hover-color: #{$red-light};

  --pfa-btn-with-icon-bg-color: #{$navy-blue-dark};

  --pfa-input-bg-color: #{$gray-light};

  --pfa-input-active-color: #{$blue};
  --pfa-input-error-color: #{$red};

  --pfa-dropdown-option-hovered-color: #{$purple};

  --pfa-chip-default-bg-color: #{$gray};
  --pfa-chip-hover-bg-color: #{$blue-lighter};
  --pfa-chip-active-bg-color: #{$blue};

  --pfa-chip-blue-label-color: #{$blue};
  --pfa-chip-navy-blue-label-color: #{$navy-blue};

  --pfa-chip-active-color: #{$white};

  //Typography
  --pfa-body-font-family: #{$jost};

  --pfa-body-font-size-1: #{$fs-base};
  --pfa-body-font-size-2: #{$fs-sm};
  --pfa-body-font-size-3: #{$fs-xs};

  --pfa-body-font-weight-1: #{$fw-regular};
  --pfa-body-font-weight-2: #{$fw-semibold};

  --pfa-body-line-height-1: #{$lh-base};
  --pfa-body-line-height-2: #{$lh-sm};
  --pfa-body-line-height-3: #{$lh-xxs};

  --pfa-h1-font-size: #{$h-1};
  --pfa-h2-font-size: #{$h-2};
  --pfa-h3-font-size: #{$h-3};
  --pfa-h4-font-size: #{$h-4};

  --pfa-h-font-weight: #{$fw-bold};

  --pfa-h1-line-height: #{$lh-xxl};
  --pfa-h2-line-height: #{$lh-xl};
  --pfa-h3-line-height: #{$lh-lg};
  --pfa-h4-line-height: #{$lh-xs};

  --pfa-h1-letter-spacing: #{$ls-lg};
  --pfa-h2-letter-spacing: #{$ls-base};
  --pfa-h3-letter-spacing: #{$ls-base};
  --pfa-h4-letter-spacing: #{$ls-sm};

  --pfa-chip-semibold: #{$fw-semibold};
  --pfa-chip-bold: #{$fw-bold};

  --pfa-menu-bg-color: #{$white};
  --pfa-menu-item-default-color: #{$navy-blue-lighter};
  --pfa-menu-item-hover-color: #{$purple};
  --pfa-menu-item-border-color: #{$navy-blue-15};
}

/*=============================================
=                 Reset                     =
=============================================*/
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

/*=============================================
=                 Global Styles                =
=============================================*/

html {
  box-sizing: border-box;
  font-size: 62.5%; //1rem = 10px 10px/16px = 62.5%
}

body {
  font-family: $body-font-family;
  font-size: $body-font-size-1;
  font-weight: $body-font-weight-1;
  line-height: $body-line-height-1;
}

h1 {
  font-size: $h-1-font-size;
  font-weight: $h-font-weight;
  line-height: $h-1-line-height;
  letter-spacing: $h-1-letter-spacing;
}

h2 {
  font-size: $h-2-font-size;
  font-weight: $h-font-weight;
  line-height: $h-2-line-height;
  letter-spacing: $h-2-letter-spacing;
}

h3 {
  font-size: $h-3-font-size;
  font-weight: $h-font-weight;
  line-height: $h-3-line-height;
  letter-spacing: $h-3-letter-spacing;
}

h4 {
  font-size: $h-4-font-size;
  font-weight: $h-font-weight;
  line-height: $h-4-line-height;
  letter-spacing: $h-4-letter-spacing;
}
