.button {
  padding: 10px 15px;
  border-radius: 10px;
  border: none;
  cursor: pointer;

  /** SIZES **/
  &.medium {
    width: 158px;
    height: 44px;
  }

  /** TYPES **/
  &.primary {
    background-color: $btn-primary-bg-color;
    color: $main-btn-text-color;

    &:hover {
      background-color: $btn-primary-bg-hover-color;
    }
  }

  &.secondary {
    background-color: $btn-secondary-bg-color;
    color: $main-btn-text-color;

    &:hover {
      background-color: $btn-secondary-bg-hover-color;
    }
  }

  &.tertiary {
    background-color: $btn-tertiary-bg-color;
    color: $main-btn-text-color;

    &:hover {
      background-color: $btn-tertiary-bg-hover-color;
    }
  }

  &.danger {
    background-color: $btn-danger-bg-color;
    color: $main-btn-text-color;

    &:hover {
      background-color: $btn-danger-bg-hover-color;
    }
  }
}
