.button {
  @include padding-vertical('sm');
  @include padding-horizontal('base');
  border-radius: map-get($spacing, 'sm');
  border: none;
  cursor: pointer;

  /** SIZES **/
  &.medium {
    @include width('xxl-1');
    @include height('md-4');
  }

  /** TYPES **/
  &.primary {
    background-color: $btn-primary-bg-color;
    color: $main-btn-text-color;

    &:hover {
      background-color: $btn-primary-bg-hover-color;
    }
  }

  &.secondary {
    background-color: $btn-secondary-bg-color;
    color: $main-btn-text-color;

    &:hover {
      background-color: $btn-secondary-bg-hover-color;
    }
  }

  &.tertiary {
    background-color: $btn-tertiary-bg-color;
    color: $main-btn-text-color;

    &:hover {
      background-color: $btn-tertiary-bg-hover-color;
    }
  }

  &.danger {
    background-color: $btn-danger-bg-color;
    color: $main-btn-text-color;

    &:hover {
      background-color: $btn-danger-bg-hover-color;
    }
  }
}
