body {
  font-family: 'Jost', sans-serif;
}

.button {
  padding: 10px 15px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
}

/** SIZES **/
.button.medium {
  width: 158px;
  height: 44px;
}

/** TYPES **/
.button.primary {
  background-color: #ad1fea;
  color: #f2f4fe;
}

.button.secondary {
  background-color: #4661e6;
  color: #f2f4fe;
}

.button.tertiary {
  background-color: #3a4374;
  color: #f2f4fe;
}

.button.danger {
  background-color: #d73737;
  color: #f2f4fe;
}
